/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

body {
  background: #F5F5F5;
  color: #000;
  font-family: "proxima-nova", Helvetica, sans-serif;
  font-weight: 400;
  padding: 0;
}

section.bio {
  margin: 20% auto;
  padding: 0 60px;
  text-align: center;
  h1 {
    font-size: 60px;
    font-family: "lexia", Helvetica, sans-serif;
    margin-bottom: 2px;
    font-weight: 100;
    color: rgba(0,0,0,0.8);
  }
  h2 { 
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 14px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
  }
  p.email {
    padding: 10px 14px;
    border-radius: 2px;
    background: #fff;
    display: inline-block;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
}